body{
    background-image: linear-gradient(20deg, #232F82, #890B93, #1A3399 );
    height: 96.5vh;
    text-align: center;
    
    
}   

h1{
    color: white;
}
h2{
    color: white;

}
#teste{

    text-align: left;
    
margin-left: 880px;}