body{
    background-image: linear-gradient(45deg, black, rgb(187, 24, 114));
    height: 100vh;
    color: white;
    text-align: center;
    font: normal 15pt arial;
}
header{
    text-align: center;
    margin-top: 150px;
    
}
#botao:hover{
    background-color: rgb(190, 180, 180);}



section{
    padding: 15px;
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: center;
    max-width: 500px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 5px 5px 15px black;
    

}
footer{
    font-style: italic;
}